@model WebApplication1.Models.AdModel

<table class="table">
    <thead>
        <tr>
            @foreach (var c in Model.columnDisplayNames)
            {
                <th><a href="#" onclick="t('@c')">@c</a></th>
            }
        </tr>
    </thead>
    @foreach (var item in Model.ads)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumPages)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Position)
            </th>
        </tr>
    }

</table>
<div>
    @for (int i = 1; i <= Model.pageCount; i++)
    {
        <span>
            @if (i == Model.currentPage)
            {
                <a href="#" class="btn btn-link disabled" onclick="changePage(@i)">@i</a>
            }
            else
            {
                <a href="#" class="btn btn-link active" onclick="changePage(@i)">@i</a>
            }
        </span>
    }
</div>
